<!doctype html>
<html ng-app="app5" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel='shortcut icon' href='images/logos/favicon.ico' type='image/x-icon'/ >

    <title>Do I Need a Coat ?</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/cover.css" rel="stylesheet">

    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    </style>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73718869-1', 'auto');
    ga('send', 'pageview');
    </script>

  </head>
  <body>

    <div class="site-wrapper">

          <div class="site-wrapper-inner">

            <div class="cover-container">

              <!-- This is the nav bar -->
              <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand"><a href="https://twitter.com/JFelipz"><img src="images/logos/felipz.png"></a></h3>
                  <nav>
                    <ul class="nav masthead-nav">
                      <li class="active"><a href="http://doineedacoat.com/">Home</a></li>
                      <li><a href="https://www.youtube.com/watch?v=JQPpvWKZrPQ">Why?</a></li>
                      <li><a href="http://www.patagonia.com/us/search/coat">Coats</a></li>
                      <li><a href="countries.html">Countries</a></li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="https://twitter.com/JFelipz">Contact</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- End of nav bar -->


    <div id="app" ng-controller="countryListCtrl">
      <!-- Image of right country -->

      <h1>Can you guess the country?</h1>
  
      <img ng-src="{{countries[guesses[rightCountry]].image}}" style="max-height: 200px">
      <br>


      <h2>{{response}}</h2>
      <br>
      <!-- buttons for choices -->
      <button class="btn btn-md btn-default" ng-class="class" ng-click="checkAnswer(0)">{{countries[guesses[0]].country}}</button>
      <button class="btn btn-md btn-default" ng-class="class" ng-click="checkAnswer(1)">{{countries[guesses[1]].country}}</button>
      <br>
      <button class="btn btn-md btn-default" ng-class="class" ng-click="checkAnswer(2)">{{countries[guesses[2]].country}}</button>
      <button class="btn btn-md btn-default" ng-class="class" ng-click="checkAnswer(3)">{{countries[guesses[3]].country}}</button>
      <br>
      <br>
      <button class="btn btn-lg btn-default" ng-click="pushRandomNumbers(getRandomNumber()); pickCountry(); clearResponse()">Go!</button>
    </div> <!-- End of app -->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/countriesApp.js"></script>

  </body>
</html>